---
import Layout from '../layouts/BlogPost.astro';
const pageTitle = "关于自己"
const descrition = "博客介绍"
---
<style>
	p {
		white-space: pre-line;
	}
</style>
<Layout
	title={pageTitle}
	description={descrition}
	pubDate={new Date('2023-02-20')}
	updatedDate={new Date('2023-02-20')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		本博客旨在记录博主的个人经验，以及学习各种技术的心路历程、避坑指南，欢迎大家浏览，多活水。
		已发表所有的文章，若存在错误，请及时联系我并修改，<a href="mailto:dd.21guns@gmail.com">dd.21guns@gmail.com</a>。

		本博客重内容，轻形式，所以整个前端页面都是用的astro官网提供的免费模板。
	</p>
</Layout>
